<section class="main__item container item{{#if alias}} item--alias{{/if}}{{#contains self 'deprecated'}} item--deprecated{{/contains}}"
         id="{{group}}-{{type}}-{{context.name}}">

  {{> 'annotations/name'}}
  
  {{> 'annotations/deprecated'}}

  {{> 'annotations/preview'}} 
  
  {{#not alias}}
    
    {{set 'typeOfAnnotations' (lookup @root.display.annotations context.type) context}}
  
    {{#forIn context.typeOfAnnotations}}
  
      {{> (combine 'annotations/' .) item=../.}}
  
    {{/forIn}}
  
  {{else}}
  
    <p>Refer to <a href="#{{group}}-{{type}}-{{alias}}">{{alias}}</a>.</p>
  
  {{/not}}

</section>