<section class="main__item container item{{#if alias}} item--alias{{/if}}{{#contains self 'deprecated'}} item--deprecated{{/contains}}"
         id="{{group}}-{{type}}-{{context.name}}">

  {{> 'annotations/name'}}
  
  {{> 'annotations/deprecated'}}

  {{> 'annotations/preview'}} 
  
  {{#not alias}}
  
    {{#each (lookup @root.display.annotations context.type) as |annotation|}}
  
      {{> (combine 'annotations/' annotation) item=../. group=../group type=../type id=../id}}
  
    {{/each}}
  
  {{else}}
  
    <p>Refer to <a href="#{{group}}-{{type}}-{{alias}}">{{alias}}</a>.</p>
  
  {{/not}}

</section>