<div class="sidebar__group sidebar__group--level-{{level}}">
  
  <p class="sidebar__item sidebar__item--heading" data-slug="{{@../key}}">
    <a href="#{{group}}">{{lookup @root.groups id}}</a>
  </p>
  
  {{#each data as |items type|}}
  
    {{#if (eq (typeOf items) 'array') }}

      {{> sidebar-item group=../group type=type items=items}}

    {{else}}

      {{> sidebar-group level=(plus ../level 1) id=type group=(combine ../group '.' type) data=items}}

    {{/if}}
  
  {{/each}}
  
</div>