<div>

  <p class="sidebar__item sidebar__item--sub-heading" data-slug="{{group}}-{{type}}">
    <a href="#{{group}}-{{type}}">{{type}}</a>
  </p>
  
  <ul class="list-unstyled">
  
    {{#each items}}
    
      <li class="sidebar__item sassdoc_item" data-group="{{../group}}" data-name="{{context.name}}" data-type="{{../type}}">
        
        <a href="#{{../group}}-{{context.type}}-{{context.name}}">
          
          {{context.name}}
          
          {{#if (eq access.[0] "private") }}
            <span class="sidebar__annotation sidebar__annotation--private">private</span>
          {{/if}}
          
          {{#if alias}}
            <span class="sidebar__annotation sidebar__annotation--alias">alias</span>
          {{/if}}
          
        </a>
        
      </li>
    
    {{/each}}
    
  </ul>

</div>