<div class="sidebar__header">
  
  <h1 class="sidebar__title">
    
    {{#if display.logo}}
    
      <a href="{{default package.homepage (combine '//github.com/emory-libraries/' package.name)}}">
        {{> logo}}
      </a>
    
    {{else}}
    
      <a href="{{default package.homepage (combine '//github.com/emory-libraries/' package.name)}}">
        {{#if package.title}}
          {{titleize package.title}}
        {{else}}
          {{titleize package.name}}
        {{/if}}
      </a>

    {{/if}}
    
    {{#if package.version}}
      <div class="sidebar__title--version">v{{package.version}}</div>
    {{/if}}
    
  </h1>

</div>

<div class="sidebar__body">
  
  {{! Nothing available to display. }}
  {{#if (eq data.length 0)}}
  
    <p class="sidebar__item  sidebar__item--heading">No documented item.</p>
  

  {{! Something available to display. }}
  {{else}}
  
    <button type="button" class="btn-toggle  js-btn-toggle" data-alt="Open all">Close all</button>

    {{#each _data.byGroupAndType as |data group|}}
  
      {{> sidebar-group level=1 id=group group=group data=data}}

    {{/each}}
  
  {{/if}}
  
</div>